@import "tailwindcss"
@plugin "daisyui";/* for setting up daisyui and its theme follow official website of daisyui as updates can change the present way to do it */
@plugin "daisyui" { 
  themes: light,
  dark,
  cupcake,
  bumblebee,
  emerald,
  corporate,
  synthwave,
  retro,
  cyberpunk,
  valentine,
  halloween,
  garden,
  forest,
  aqua,
  lofi,
  pastel,
  fantasy,
  wireframe,
  black,
  luxury,
  dracula,
  cmyk,
  autumn,
  business,
  acid,
  lemonade,
  night,
  coffee,
  winter,
  dim,
  nord,
  sunset
  ;
} 

